* {
  padding: 0;
  margin: 0; 
  font-family:Tahoma, sans-serif;
}

#container {
  background-image: url(./imagenes/website-background-image-size-psd-vector-photo_waifu2x_art_noise3_scale_tta_1.png);
}

#logcontainer{
  background-image: url(./imagenes/website-background-image-size-psd-vector-photo_waifu2x_art_noise3_scale_tta_1.png);
}

#logcaja{
  display: flex;
  width: 400px;
  height: 440px;
  position: relative;
  border: solid white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 50px;  
}

#centrar{
  margin: 0;
  position: absolute;
  justify-content: center;
  bottom: 0%;
  right: 25%;
}

#campos{
 width: 110%;
 height: 200px;
}

#caja{
  width: 400px;
  height: 440px;
  border: solid white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 50px;        
}

.padre{
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;
  height: 100vh;
}

nav {
    clear: both;
    background-color: rgba(4, 83, 255, 0.952);
    color: white;
    padding: 20px;
    overflow: hidden;
}

nav ul{
  margin: 0;
  padding: 0;
}

.barra{
  float: right;
  display: inline-block;
  list-style-type: none;
  padding: 20px 30px;
  border-radius: 12px;
}

.decBarra{
  text-decoration: none;
  color: white;
}

li:hover{
  background-color: rgb(68, 137, 248);
}

.wrapper{
  /* height: 100vh;
  width: 100vh; */
  background-color: black;
  padding: 0;
  width: 100vw;
  margin-left: auto;
}

.forumBox{
  margin-left: 10px;
}

main{
  height: auto;
  width: 80vw;
  background-color: green;

  position: relative;
  border: solid white;
}

input[type = "text"], input[type = "password"] {
  width: 82%;
  padding: 6px 12px;
  margin-left: 20px;
  border-radius: 5px;
  text-align: center;
  border: solid white;
}

section {
  display: inline-block;
  width: 30%;
  height: 50%;
  border: solid black;
  background-color: white;
  margin: 12px;
  border-radius: 20px;
}

input[type = "submit"]{
  width: 90%;
  padding: 6px 12px;
  margin-left: 20px;
  border-radius: 5px;
  text-align: center;
  border: solid white;
  color: black;
}

body{
  background-color: rgb(250, 243, 243);
}

form{
  padding: 10px;
  display: table;
}

label{
  padding: 6px 12px;
  margin-left: 10px;
  color: white;
}

body{
  display: flex;
  justify-content: center;
}
