* {
  padding: 0;
  margin: 0;
  font-family: Tahoma, sans-serif;
  background-repeat: no-repeat;
}



#container {
  background-image: url(./imagenes/website-background-image-size-psd-vector-photo_waifu2x_art_noise3_scale_tta_1.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#logcontainer {
  background-image: url(./imagenes/website-background-image-size-psd-vector-photo_waifu2x_art_noise3_scale_tta_1.png);
}

#logcaja {
  display: flex;
  width: 400px;
  height: 490px;
  position: absolute;
  border: solid white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 50px;
}

.fondoNo {
  width: 100%;
  background-image: url(./imagenes/website-background-image-size-psd-vector-photo_waifu2x_art_noise3_scale_tta_1.png);
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

#contcontainer {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#centrar {
  margin: 0;
  position: absolute;
  justify-content: center;
  bottom: 0%;
  right: 25%;
}
#campos {
  width: 110%;
  height: 200px;
}

/* body {
  background-image: url(./imagenes/website-background-image-size-psd-vector-photo.jpg);
} */

#caja {
  width: 400px;
  height: 550px;
  border: solid white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 50px;
}

#cajaMod {
  width: 400px;
  height: 600px;
  border: solid white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 50px;
}

#mensaje {
  width: 82%;
  padding: 6px 12px;
  margin-left: 20px;
  border-radius: 5px;
  text-align: left;
  height: 150px;
  padding: 10px;
}
.padre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.navegacion {
  display: flex;
  align-items: center;
}

nav {
  flex: 1;
  text-align: right;
  color: white;
}

nav ul li {
  list-style: none;
  margin-left: 70px;
  display: inline-block;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.barra {
  border-radius: 10px;
  padding: 30px;
}

li:hover {
  background-color: rgba(64, 0, 255, 0.301);
}

.decBarra {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

#contenedor{
  width: 100%;
  background-image: url(./imagenes/website-background-image-size-psd-vector-photo_waifu2x_art_noise3_scale_tta_1.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

#contenedorId{
  width: 100%;
  background-image: url(./imagenes/website-background-image-size-psd-vector-photo_waifu2x_art_noise3_scale_tta_1.png);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.contenedor {
  width: 100%;
  background-image: url(./imagenes/website-background-image-size-psd-vector-photo_waifu2x_art_noise3_scale_tta_1.png);
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  background-size: cover;
  background-position: center;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}


.boton{
  width: 100%;
  padding: 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.tarjeta{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

.algo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  background-size: cover;
  box-sizing: border-box;
  justify-content: space-around;
}

li:hover {
  background-color: rgba(86, 68, 248, 0.178);
}

.forumBox {
  margin-left: 10px;
}

hastlh {
  display: flex;  
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  height: 80%;
}

.success {
  background-color: rgb(0, 255, 0);
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

main {
  display: flex;  
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  height: 80%;
}

.arreglo{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  height: 300px;
}



#arreglo2{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  width: 100%;
  height: 300px;
}

#arreglo3 {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  width: 100%;
  height: 900px;
  margin-top: 0;
}

#noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
  flex-basis: 60%;
  flex-direction: row;
  flex-flow: wrap;
  margin: 60px;
  padding: 10px;
}

.columna {
  flex: 1;
  flex-basis: 50%;
  margin: 60px;
  padding: 10px;
}

input[type="text"],
input[type="password"] {
  width: 82%;
  padding: 6px 12px;
  margin-left: 20px;
  border-radius: 5px;
  text-align: center;
  border: solid white;
}

#boolean{
  color: rgb(255, 255, 255);
  font-size: 100px;
}

#parrafo1{
  color: white;
  text-align: justify;
  font-size: 12px;
  line-height: 15px;
}

#button{
  width: 190px;
  background-color: white;
  color: black;
  font-size: 12px;
  padding: 13px;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}

.contBuscar{
  display: flex;
  justify-content: flex-end;
  align-items: right;
  border: none;
}

#buscar{
  width: 190px;
  background-color: white;
  color: black;
  font-size: 12px;
  padding: 13px;
  border-radius: 20px;
  outline: none;
}

.wrapper{
    display: inline-block;
    cursor: pointer;
    width: 200px;
    height: 300px;  
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px 15px;
    box-shadow: inset 0 0 150px 2px rgb(0, 0, 0);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.wrapper:hover{
  transform: translateY(-10px);
}

h5{
  font-size: 25px;
  color: white;
}

.wrapper p{
  color: white;
}

input[type="submit"] {
  width: 90%;
  padding: 6px 12px;
  margin-left: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(228, 228, 228);
  color: black;
}

/* hover en input type submit */
input[type="submit"]:hover {
  /* animation*/
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;  
  /* transition */
  transition: 1s;
  background-color: rgb(0, 0, 0);
  color: white;
  /* smooth */
  -webkit-animation: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition: 1s;

  transition: transform 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}

/* cursor input type file */
input[type="file"] {
  cursor: pointer;
}

/* image transition */
img:hover {
  transition: transform 0.5s;
  transform: scale(1.3);
}

/* transition after image hover */
img:hover:after {
  transition: transform 0.5s;
  transform: scale(1.3);
}

#img-Articulo:hover {
  transform: scale(1);
}

.imgPerfil:hover {
  transform: scale(1);
}

.flex-row{
  display: flex;
  flex-direction: row;
  height: auto;
  background-size: cover;
  box-sizing: border-box;
  justify-content: inline-block;
  align-items: center;
}

#buscar {
  width: 30%;
  padding: 6px 12px;
  margin-left: 20px;
  border-radius: 5px;
  text-align: center;
  border: solid white;
  color: black;
}

body {
  background-color: rgb(250, 243, 243);
}

form {
  padding: 10px;
  display: table;
}

label {
  padding: 6px 12px;
  margin-left: 10px;
  color: white;
}

body {
  display: flex;
  justify-content: center;
}

.responsive {
  background-image: url(./imagenes/website-background-image-size-psd-vector-photo_waifu2x_art_noise3_scale_tta_1.png);
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 0;
}



/* .imgwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  position: relative;
} */

#foto {
  margin-left: 10px;
}

.arregloPerfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.perfil{
  color:rgb(255, 255, 255);
  width: 25%;
  height: 75%;
  display: flex;
  justify-content: center;
}

.imgPerfil{
  border-radius: 100%;
  border: 4px solid white;
}

.perfil-img{
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
}

.perfil-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.input {
  width: 100%;
  padding: 6px 12px;
  margin-left: 20px;
  border-radius: 5px;
  text-align: center;
  color: black;
}

#guardar {
  width: 88%;
}


.fondo{
  background-image: url(./imagenes/website-background-image-size-psd-vector-photo_waifu2x_art_noise3_scale_tta_1.png);
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.foro {
  color: rgb(255, 255, 255);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  width: 40%;
}

.label {
  padding: 6px 12px;
  margin-left: 10px;
  color: white;
}

#grupo1 {
  background-color: rgba(168, 212, 247, 0.432);
  padding: 2%;
}

#grupo2 {
  background-color: rgba(168, 212, 247, 0.432);
  padding: 2%;
}


h2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 40px;
}

textarea {
  width: 82%;
  padding: 6px 12px;
  margin-left: 20px;
  border-radius: 5px;
  border: solid white;
}

.grupo {
  border-radius: 5px;
}

#aceptar {
  width: 87%;
  margin-right: 0;
}

.warning {
  color: red;
  font-size: 16px;
  font-family: Tahoma, sans-serif;
}

.aviso {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url(./imagenes/website-background-image-size-psd-vector-photo_waifu2x_art_noise3_scale_tta_1.png);

}

#background-wrapper{
  background-image: url(./imagenes/website-background-image-size-psd-vector-photo_waifu2x_art_noise3_scale_tta_1.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-flow: wrap;
  background-repeat: repeat;
  width: 100vw;
}

section {
  display: flex;
  text-align: justify;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.318);
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  width: 80%;
}

#head {
  
  color: black;
}

#contenidoArticulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#parrafada {
  display: flex;
  text-align: justify;
  size: 80%;
  margin-left: 200px;
  margin-right: 200px;
}

#user-bck {
  background-image: url(./imagenes/website-background-image-size-psd-vector-photo_waifu2x_art_noise3_scale_tta_1.png);
  background-position: center;
  background-size:cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead tr th{
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}

th{
  padding: 15px;
  background-color: white;
}

.tabla {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

#ban-bck {
  background-image: url(./imagenes/website-background-image-size-psd-vector-photo_waifu2x_art_noise3_scale_tta_1.png);
  background-position: center;
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
}

#baneado {
  font-size: 70px;
}

#ban-p {
  font-size: 30px;
}

#padreMod {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#cajaMod {
  width: 400px;
  height: 430px;
  border: solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#containerMod {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(./imagenes/website-background-image-size-psd-vector-photo_waifu2x_art_noise3_scale_tta_1.png);
}

#centrar-perfil-autor {
  display: flex;
  align-items: center;
  justify-content: center;
}

#perfil-autor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.autor {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

#user{
  border-radius: 100%;
}





